@import '../../../../styles/index.scss';

.mapWrapperDesk {
    width: 1000px;
    height: $height--map-desktop;
}

.mapWrapperMobile {
    width: 100%;
}

.base {
    width: 25px;
    height: 25px;
    background-color: red;
}

.selected {
    width: 25px;
    height: 25px;
    background-color: green;
}