@import '../../../../styles/index';

.wrapper {
    width: 100%;
    // height: auto; // definire con il contenuto
    height: 900px; // definire con il contenuto
    background-color: rebeccapurple;
    margin-bottom: $space--50;
    @include respond-to($tablet) {
        width: 75%;
    }
}



