// ::: LAYOUT :::
$mobile: 'mobile';
$tablet: 'tablet';
$desktop: 'desktop';

// ::: COLORS :::
$base--bg-color: #F9F8F5;
$base--dark: #212121;
$base--ocra: #E2AB59;

// ::: SPACERS :::
$space--5: 5px;
$space--25: 25px;
$space--35: 35px;
$space--50: 50px;
