@import '../../../styles/index.scss';

.card {
    position: relative;
    border: 4px solid #f5f3f3;
    background: #fff;
    min-height: 288px;
    width: 100%;
    margin-bottom: 0.8px;
    color: #aca7a7;
    break-inside: avoid;
    page-break-inside: avoid;
}

.image {
    width: inherit;
}

.cardText {
    padding: 22px;
}

.cardTitle {
    color: $base--title49;
    font-size: 19px;
    font-weight: 300;
}

.cardIntroText {
    font-family: 'NewCycle';
    color: $base--text81;
    font-size: 17px;
    font-weight: 300;
}
