@import '../../../styles/index.scss';

.messageWrapper {
    position: absolute;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    // check if doable dinamically TODO

    margin-right: 5px;
    padding: 0 5px;
    background-color: white;
    z-index: 10000;
    border-radius: 5px;
    overflow: scroll;

    @include respond-to($tablet) {
        position: relative;
        width: 405px;
        margin-right: 5px;
        height: $height--map-desktop;
    }
}

.info {
    width: 25px;
    height: 25px;
    margin: 5px auto;
    padding: 5px;
    background-color: white;
    position: absolute;
    left: 18px;
    top: 200px;
    z-index: 10000;
    border-radius: 5px;
}

.hide {
    display: none;
}

.introTitle {
    color: $base--title49;
    font-size: 19px;
    font-weight: 300;
    border-bottom: 1px solid $base--ocra;
}

.closeIntro {
    color: $base--title49;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 0;
}

.introText {
    font-family: 'NewCycle';
    color: $base--text81;
    font-size: 17px;
    font-weight: 300;
}
