@import '../../../styles/index.scss';

.messageWrapper {
    width: calc(95% - 20px);
    display: flex;
    flex-direction: column;
    // check if doable dinamically TODO
    height: 77.5vh;
    margin: 5px auto;
    padding: 5px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10000;
    border-radius: 5px;
    overflow: scroll;
    border: 1px solid red;
    @include respond-to($tablet) {
        position: relative;
        width: 420px;
        margin: 5px;
        border: 1px solid red;
      }
}

.info {
    width: 25px;
    height: 25px;
    margin: 5px auto;
    padding: 5px;
    background-color: white;
    position: absolute;
    left: 18px;
    top: 200px;
    z-index: 10000;
    border-radius: 5px;
}

.hide {
    display: none;
}
