@import '../../styles/index';

.headerWrapper {
    padding: 5px 0 5px 0;
    width: 1250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: $base--bg-color;
    border-bottom: 1px solid $base--ocra;
    flex: 0;
}

.navigationWrapper {
    display: flex;
}

.search {
    width: 25px;
    height: 25px;
    background-color: #E2AB59;
}
