.headerWrapper {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigationWrapper {
    display: flex;
}

.search {
    width: 25px;
    height: 25px;
    background-color: #E2AB59;
}
