@import '../../../styles/index.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: $space--25;
    @include respond-to($tablet) {
        flex-direction: row;
    }
}

.pointersWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include respond-to($tablet) {
        width: 25%;
        margin-left: 50px;
    }
}
