@import '../../styles/index';

.headerWrapper {
    width: 100%;
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $base--bg-color;
    flex: 0;
    border-bottom: 1px solid $base--ocra;
    @include respond-to($tablet) {
        width: 1250px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    // width: 1250px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // position: fixed;
    // background-color: $base--bg-color;
    // border-bottom: 1px solid $base--ocra;
    // flex: 0;
}

.navigationWrapper {
    width: 100%;
    display: flex;
}

.search {
    width: 25px;
    height: 25px;
    background-color: #E2AB59;
}
