@import '../../styles/index.scss';

.container {
    @include respond-to($tablet) {
        width: $max--desktop;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
